@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.navbar {
  padding: 20px 0px;
  @include flex(space-between, normal);
  .leftpart {
    @include flex(center, center);
    .logo {
      color: black;
      text-decoration: none !important;
      cursor: pointer;
      font-family: "Poppins";
      @include text-style(30px, 700, 22px);
      margin-right: 50px;
    }
    .links {
      a {
        text-decoration: none !important;
        color: #979a9b;
      }
      cursor: pointer;
      font-family: "Inter";
      @include text-style(16px, 700, 16px);
      @include flex(center, center);
      gap: 30px;
      .men,
      .women,
      .collec,
      .sale {
        transition: .8s;
        padding: 14px;
        &:hover {
          color: #262b2c;
        }
      }
    }
  }
  .rightpart {
    @include flex(center, center);
    .info {
      cursor: pointer;
      color: #979a9b;
      font-family: "Inter";
      @include text-style(16px, 700, 16px);
      @include flex(center, center);
      gap: 30px;
      .ourstory,
      .contact {
        transition: .8s;
        padding: 14px;
        &:hover {
          color: #262b2c;
        }
      }
    }
    .cartprofile {
      margin-left: 30px;
      @include text-style(16px, 700, 16px);
      @include flex(center, center);
      padding: 14px;
      gap: 20px;
      .css-tzssek-MuiSvgIcon-root {
        color: hsl(190, 7%, 16%);
      }
      .shoppingbag {
        position: relative;
        .circle {
          @include flex(center, center);
          @include text-style(10px, 700, 12px);
          text-align: center;
          width: 20px;
          height: 20px;
          background-color: #ff6961;
          border-radius: 20px;
          color: white;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
      .shoppingbag, .profile {
        cursor: pointer;
      }
    }
  }
}



@media (min-width: 767px) {
}

@media(max-width: 768px) {
  .navbar {
    @include flex(space-between, center);
    .leftpart {
      .logo {
        margin-right: 0px;
      }
    }
    .rightpart {
      .cartprofile {
        margin-left: 0px;
      }
    }
  }
  
  .sidebarcontent {
    max-width: 90%;
    min-width: 324px;
    .close {
      max-width: 100%;
      padding: 20px;
      text-align: right;
    }
    .sidebarprofile {
      padding: 20px;
    }
    .content {
      color: #6e7051;
      @for $i from 0 to 5 {
       :nth-child(#{$i}) {
          padding: 20px;
        }
      }
    }
  }
}
