@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");


.productswrapper {
  @include flex(center, center, column);
  padding: 0px 30px;
  margin-top: 96px;
  .title {
    width: 100%;
    text-align: start;
    @include text-style(35px, 600, 35px);
    font-family: "Poppins";
    color: #262b2c;
  }
  .shoeslist {
    padding: 30px;
    margin-top: 40px;
    @include flex(space-between,center);
    width: 90%;
    flex-wrap: wrap;
    .shoecardwrapper {
      cursor: pointer;
      padding: 30px;
      border-radius: 20px;
      transition: .8s;
      margin-bottom: 50px;
      max-width: 360px;
      text-align: start;
      .imgwrapper {
        @include flex(center, center);
        position: relative;
        margin-bottom: 20px;
        .shoecardimg {
          width: 250px;
          height: 250px;
          object-fit: cover;
          border-radius: 15px;
        }
        .bookmark {
          color: grey;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
      .shoecardtitle {
        max-width: 180px;
        margin-bottom: 10px;
        @include text-style(20px, 600, 22px);
        font-family: "Poppins";
        color: #262b2c;
      }
      .shoecardprice {
        @include text-style(18px, 600, 18px);
        font-family: "Poppins";
        color: #f6aa28;
      }
    }
  }
}

@media (max-width: 768px) {
  .productswrapper {
    margin-top: 46px;
    .shoeslist {
      @include flex(center,center);
      padding: 0px;
      width: 100%;
    }
  }
}